In [1]:
import pandas as pd

In [5]:
#Opens all files in the folder ./project/dicionarios

import os

# Get all files in the folder ./project/dicionarios
files = os.listdir('../project/dicionarios')

print(files)

['Dicionário_Microdados_Enem_2015.xlsx', 'Dicionário_Microdados_Enem_2023.xlsx', 'Dicionário_Microdados_Enem_2019.xlsx', 'Dicionário_Microdados_Enem_2018.xlsx', 'Dicionário_Microdados_Enem_2022.xlsx', 'Dicionário_Microdados_Enem_2014.xlsx', 'Dicionário_Microdados_Enem_2017.xlsx', 'Dicionário_Microdados_Enem_2021.xlsx', 'Dicionário_Microdados_Enem_2020.xlsx', 'Dicionário_Microdados_Enem_2016.xlsx']

In [8]:
import json
#convert each file XLSX into a dictionary the more left column is the key and the more right column is the value
for file in files:
    df = pd.read_excel(f'../project/dicionarios/{file}')
    df.head()

In [9]:
df.head()

,DICIONÁRIO DE VARIÁVEIS - ENEM 2016,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NOME DA VARIÁVEL,Descrição,Variáveis Categóricas,NaN,Tamanho,Tipo
2,NaN,NaN,Categoria,Descrição,NaN,NaN
3,DADOS DO PARTICIPANTE,NaN,NaN,NaN,NaN,NaN
4,NU_INSCRICAO,Número de inscrição1,NaN,NaN,12,Numérica